*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: josefin;
    src: url(./images/fonts/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: josefin2;
    src: url(./images/fonts/JosefinSans-VariableFont_wght.ttf);
}
body{
    /* background-image: url(./images/coffee-beans-background.jpg), linear-gradient(rgba(255,255,255,0,395) rgba(255,255,255,0,395)); */
    background: linear-gradient(rgba(255,255,255,0,395) rgba(255,255,255,0,395));
    background-color: rgb(194, 178, 172);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: josefin2;
    color: rgb(75, 38, 20); 
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo img{
    width: 80px;
    height: 80px;
    padding-left: 40px;
}

.tags{
    margin-top: 10px;
    padding-right: 60px;
}
.tags a{
    color: rgb(75, 38, 20);
    background-color: #ffffff6b;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 8px 20px;
}
.home{
    display: flex;
    justify-content: space-between;
}

.home_heading{
    padding: 150px 70px;
    font-size: large;
    font-family: josefin;
}
.home_heading h1{
    font-size: 45px;
}
h1 em{
    font-size: 60px;
    font-style: normal;
}
.home_heading p{
    padding: 5px 0;
}
.home_heading button{
    color: rgb(75, 38, 20);
    border: 1px solid rgb(75, 38, 20);
    background-color: transparent;
    padding: 10px;
    margin-left: 20%;
    margin-top: 15px;
    border-radius: 5px;
}
.offer{
    margin-top: -90px;
    margin-left: -100px;

}
.offer img{
    width: 400px;
}
.home_image{
    width: 400px;
}
.home_image{
    position: relative;
    animation: move 1s both;
}

@keyframes moves{
    from{right: 0px;}
    to{right: 100px;}
}

/* coffee */
.coffee_container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
/* .coffee_container img{
    background-image: linear-gradient(rgba(0, 0, 0, 0, 265), rgba(0, 0, 0, 0, 265));
} */
.coffee_container .coffee_cup{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0, 265), rgba(0, 0, 0, 0, 265)), url(./images/coffee-beans.jpg); */
    background-color: rgb(83, 62, 36);
    background-size: cover;
    color: #fff;
    transition: transform 0.5s ease-in 0.4;
}
.coffee_cup :hover{
    transform: scale(1.1);
}
.coffee_cup img{
    width: 150px; 
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.coffee_cup h2{
    margin-top: -15px;
}
.coffee_cup p{
    font-size: 13px;
}

/* image text */
.image_text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px;
    margin-top: 30px;
}
.image_text img{
    width: 400px;
    margin-right: 40px;
}
.image_text p{
    font-size: x-large;
    font-weight: 500;
    margin-right: 30px;
    text-align: justify;
}

/* cold coffee section */
.cold_coffee_container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    margin-top: 60px;

}
.cold_coffee_container .cold_cup{
    width: 220px;
    height: 260px;
    border: 5px solid white;
    text-align: center;
    background-color: rgb(141, 126, 108);
    background-color: rgba(185, 117, 83, 0, 0.589);
    transition: transform 0.4s ease-in 0.09s;
}
.cold_cup:hover{
    transform: translateY(-10px);
}
.cold_cup img{
    padding: 30px 0;
    width: 100px;
    height: 150px;
}
.cold_coffee_container .text_body{
    background-color: #fff;
    padding: 12px;
}
.cold_cup .text_body h4{
    font-size: 3vh;
}






/* small 1000px */
@media(max-width: 980px){ 
    #logo img{
        width: 70px;
        height: 70px;
        padding-left: 30px; 
    }
    .tags{
        padding-right: 50px;
    }
    .tags a{
        padding: 10px 10px;

    }
    /* home */
    .home_heading{
        padding: 150px 50px;

    }
    .home_heading h1{
        font-size: 35px;
    }
    h1 em{
        font-size: 50px;
    }
    .home_heading button{
        padding: 8px;
        margin-top: 8px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home_image img{
        width: 300px;
    }

    @keyframes moves {
        form{right: 0px;}
        to{right: 50px;}
    } 
    /* coffee */
    .coffee_container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
    }
    .coffee_container .coffee_cup{
        width: 190px;
        height: 190px;
    }
    .coffee_cup img{
        width: 150px;
        height: 130px;
    }
    .coffee_cup h2{
        margin-top: -15px;

    }
    .coffee_cup p{
        font-size: 13px;
        padding: 5px;
    }
    /* image_text */
    .image_text{
        padding: 40px 10px;
        margin-top: 30px;
    }
    .image_text img{
        width: 30%;
    }
    .image_text p{
        font-size: 2vh;
        font-weight: 400;
        padding: 0 20px;
    }
    /* cold coffee section */
    .cold_cup{
        width: 180px;
        height: 260px;
    }
    .cold_cup h4{
        font-size: 2.2vh;
    }
}


/* for tablets or ipads */
@media(max-width: 780px) {
    #logo img{
        height: 60px;
        width: 60px;
    }
    .tags a{
        font-size: 2.7vh;
        padding: 5px;
    }
    .home_heading{
        padding: 150px, 20px;

    }
    .home_heading h1{
        font-size: 25px;
    }
    h1 em{
        font-size: 40px;
    }
    .home_heading img{
        width: 15px;
        padding: 5px;
    }
    .home_heading p{
        font-size: small;
    }
    .home_heading button{
        padding: 5px;
    }
    .offer{
        margin-top: -70px;
        margin-left: -70px;
    }
    .offer img{
        width: 300px;
    }
    .home_image img{
        width: 300px;
    }
    @keyframes moves {
        from{right: 0%;}
        to{right: 5%;}
        
    }
    /* coffee */
    .coffee_container .coffee_cup{
        width: 170px;
        height: 170px;
    }
    .coffee_cup h2{
        font-size: medium;
        margin-top: -20px;
    }
    .coffee_cup p{
        font-size: 1.7vh;
    }

    /* image text */
    .image_text{
        padding: 40px 0;
        margin-top: 30px;
    }
    .image_text img{
        width: 30%;
    }
    .image_text p{
        font-size: 2vh;
        font-weight: 400;
        padding: 0 20px;
    }
    /* cold coffee section */
    .cold_coffee_container{
        display: grid;
        grid-template-columns: 30% 30px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
        gap: 30px;
    }
    .cold_cup{
        width: 220px;
        height: 255px;
    }
    .cold_coffee_container img{
        padding: 30px 40px;
        width: 100px;
        height: 150px;
    }
}






/* for mobiles */
@media(max-width: 420px) {
    #logo img{
        height: 50px;
        width: 50px;
        padding-left: 10px;
    }
    .tags{
        margin-right: 10px;
        margin-top: 5px;
    }
    .tags a{
        padding: 5px, 5px;
        font-size: 1.6vh;
    }
    /* home */
    .home_heading{
        padding: 60px, 20px;
    }
    .home_heading h1{
        font-size: 3vh;
    }
    h1 em{
        font-size: 4vh;
    }
    .home_heading img{
        width: 10px;
        padding: 2px;
        margin: 8px 0;
        margin-bottom: 0;
    }
    .home_heading p{
        font-size: 1.3vh;
    }
    .home_heading button{
        padding: 2px;
        margin-left: 5px;
        font-size: 1.3vh;

    }
    .offer{
        margin-top: -40px;
    }
    .offer img{
        width: 140px;
    }
    @keyframes moves {
        from{right: 0;}
        to{right: 5%;}
        
    }
    /* coffee */
    .coffee_container{
        display: grid;
        grid-template-columns: 1;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .coffee_container .coffee_cup{
        width: 250px;
        height: 220px;
    }
    .coffee_cup img{
        width: 180px;
        height: 150px;
    }
    .coffee_cup h2{
        margin-top: -15px;
    }
    .coffee_cup p{
        padding: 10px; 
    }
    /* image text */
    .image_text{
        display: grid;
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
    }
    .image_text img{
        width: 140px;
        display: block;
        margin: 0 auto;
    }
    .image_text p{
        font-size: 2.6vh;
        font-weight: 300;
        margin-right: 0;
        text-align: justify;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .cold_coffee_container{
        display: grid;
        grid-template-columns: 65%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: -10px;
        gap: 30px;
    }
    .cold_cup{
        width: 220px;
        height: 250px;

    }
    .cold_cup img{
        padding: 30px 40px;
        width: 100px;
        height: 250px;

    }

}